
    <div class="mt-3 col-md-4">
      <h2>User profile</h2>
      <%= image_tag end_user.profile_image, style: "border-radius: 50%; width: 100px; height: 100px; object-fit:cover;" %>
      <table class="table mt-3">
        <tbody>
          <tr>
            <th>Name</th>
            <th><%= end_user.name %></th>
          </tr>
          <tr>
            <th>Introduction</th>
            <th><%= end_user.introduction %></th>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-outline-secondary"><%= link_to end_users_information_edit_path, class:"text-reset" do %>Edit profile<% end %></button>
      <button type="button" class="btn btn-outline-success"><%= link_to new_post_path, class:"text-reset" do %>Share my experience!<% end %></button>
    </div>