<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 mx-auto">
      <h2>My profile</h2>
      <% if @end_user.errors.any? %>
      <h2><%=@end_user.errors.count %>errors prohibited this end_user from being saved:</h2>
      <ul>
        <% @end_user.errors.full_messages.each do |message| %>
        <li><%=message %></li>
        <% end %>
      </ul>
      <% end %>
      <%= form_with model: @end_user do |f| %>
        <label class="mt-3">Name</label>
        <%= f.text_field :name, class: 'form-control' %>

        <label class="mt-2">Profile image</label><br>
        <%= f.file_field :profile_image, accept: "image/*" %><br>

        <label class="mt-2">Introduction</label>
        <%= f.text_area :introduction, class: 'form-control' %><br />

        <%= f.submit "Update profile", class: "mt-3 btn btn-secondary" %>

      <% end %>
      <%= link_to end_users_unsubscribe_path do %>>>Delete my account<% end %>
    </div>
  </div>
</div>