<div class="container">
  <div class="row">
    <div class="mt-3 mx-auto">
      <h2>Edit my post</h2>
      <% if @post.errors.any? %>
        <h2><%=@post.errors.count %>errors prohibited this post from being saved:</h2>
          <ul>
            <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
      <% end %>

      <%= form_with model: @post, url: post_path(@post), method: :patch do |f| %>
        <label class="mt-3">Image</label><br>
        <%= f.file_field :image, accept: "image/*" %><br>

        <label class="mt-2">Title</label><br>
        <%= f.text_field :title, class: 'form-control' %><br>

        <label class="mt-2">Text</label><br>
        <%= f.text_area :text, class: 'form-control' %><br>

        <label>Tag</label><br>
        <%= f.text_field :tag, value: @post.tags.pluck(:name), class: 'form-control'  %><br>

        <%= f.submit "Update post", class: "mt-3 btn btn-success" %>

      <% end %>



    </div>
  </div>
</div>