<div class="container">
  <div class="row">
    <div class="mt-3 mx-auto">
      <h2>Recent posts</h2>
      <table class="mt-3 table table-hover table-inverse">
        <thread>
          <tr></tr>
        </thread>
        <tbody>
          <tr>
            <% @posts.each do |post| %>
            <td><%= link_to end_user_path(post.end_user.id) do %><%= image_tag post.end_user.get_profile_image(100,100) %><% end %></td>
            <td><%= link_to post_path(post.id) do %><b><%= post.title %></b><% end %><br><%= link_to end_user_path(post.end_user.id) do %><%= post.end_user.name %><% end %></td>
            <td><%= link_to "Comment: #{post.comments.count}", post_path(post.id) %></td>
            <td>
            <% if post.favorited_by?(current_end_user) %>
              <%= link_to posts_favorites_path(post), method: :delete do %>
                ♥<%= post.favorites.count %>
              <% end %>

              <% else %>

              <%= link_to post_favorites_path(post), method: :post do %>
              ♡<%= post.favorites.count %>
              <% end %>

            <% end %>
            </td>


            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
