<%= stylesheet_link_tag "homes", :media => "all" %>
<div class="container">
    <div class="row">
        <div class="text col-md-7">
            <h2>Explore the world</h2>
                <div class="wrapper">
                     <%= link_to  new_end_user_registration_path, class:"btn btn--orange btn--cubic btn--shadow text-light" do %>Sign up <% end %>
                    <%= link_to  new_end_user_session_path, class:"btn btn--orange btn--cubic btn--shadow text-light" do %>Log in <% end %>
                    <%= link_to 'Log in as a guest', end_user_guest_sign_in_path, method: :post, class:"btn btn--orange btn--cubic btn--shadow text-light" %>

                </div>

        </div>
        <div class="map col-md-5">
        <%= image_tag '25644682_m.jpg', size: "500x700", alt: 'map' %>
        </div>
    </div>
</div>